@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Mono:400);

body, table, div, p, dl, table.directory, div.toc li, div.toc h3, div.summary, div.ingroups, .tabsearch, .directory .levels, span.mlabel {
  font: 400 18px/24px Lato,sans-serif;
}
.title, .icon, .navpath li.navelem a, #projectname, #projectbrief, #projectnumber, #powerTip div, .tabs, .tabs2, .tabs3 {
  font-family: Lato,sans-serif;
}

#projectname {
  font-weight: bold;
}

.icon {
  height: 100%;
}
.title {
  font-size: 200%;
}

code {
  font: 400 16px/20px Roboto Mono,monospace;
}
pre.fragment, div.line, .params .paramdir {
  font-family: Roboto Mono,monospace;
}

p, li {
  max-width: 50em;
}

div.contents, #titlearea, div.header, div.navpath ul, .tabs, .tabs2, .tabs3 {
  padding-left: 5em;
  padding-right: 5em;
}

